<a href="https://colab.research.google.com/github/Normal-case/DeepLearning/blob/master/DNN_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [2]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
from tensorflow.nn import relu
import tensorflow as tf
tf.enable_eager_execution()

In [3]:
data = datasets.load_breast_cancer()
X = np.array(data.data, dtype = 'float32')
y = np.array(data.target, dtype = 'float32')

In [4]:
y = y.reshape(-1, 1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 777)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)

In [7]:
import pandas as pd
df = pd.DataFrame(X, columns = data.feature_names)
df

     mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0      17.990000     10.380000  ...          0.4601                  0.11890
1      20.570000     17.770000  ...          0.2750                  0.08902
2      19.690001     21.250000  ...          0.3613                  0.08758
3      11.420000     20.379999  ...          0.6638                  0.17300
4      20.290001     14.340000  ...          0.2364                  0.07678
..           ...           ...  ...             ...                      ...
564    21.559999     22.389999  ...          0.2060                  0.07115
565    20.129999     28.250000  ...          0.2572                  0.06637
566    16.600000     28.080000  ...          0.2218                  0.07820
567    20.600000     29.330000  ...          0.4087                  0.12400
568     7.760000     24.540001  ...          0.2871                  0.07039

[569 rows x 30 columns]

In [8]:
df.info() # 총 칼럼이 30개

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean radius              569 non-null    float32
 1   mean texture             569 non-null    float32
 2   mean perimeter           569 non-null    float32
 3   mean area                569 non-null    float32
 4   mean smoothness          569 non-null    float32
 5   mean compactness         569 non-null    float32
 6   mean concavity           569 non-null    float32
 7   mean concave points      569 non-null    float32
 8   mean symmetry            569 non-null    float32
 9   mean fractal dimension   569 non-null    float32
 10  radius error             569 non-null    float32
 11  texture error            569 non-null    float32
 12  perimeter error          569 non-null    float32
 13  area error               569 non-null    float32
 14  smoothness error         569 non-null    float32
 15  compactness error        569 non-null    float32
 16  concavity error          569 non-null    float32
 17  concave points error     569 non-null    float32
 18  symmetry error           569 non-null    float32
 19  fractal dimension error  569 non-null    float32
 20  worst radius             569 non-null    float32
 21  worst texture            569 non-null    float32
 22  worst perimeter          569 non-null    float32
 23  worst area               569 non-null    float32
 24  worst smoothness         569 non-null    float32
 25  worst compactness        569 non-null    float32
 26  worst concavity          569 non-null    float32
 27  worst concave points     569 non-null    float32
 28  worst symmetry           569 non-null    float32
 29  worst fractal dimension  569 non-null    float32
dtypes: float32(30)
memory usage: 66.8 KB

In [9]:
X_train.shape

(455, 30)

In [10]:
# w와 b를 초기화하는 객체
initializer = tf.contrib.layers.xavier_initializer()

# 30줄 30칸의 w0를 생성
# 30줄 10칸의 w1를 생성
# 10줄 1칸의 w2를 생성
w0 = tf.Variable(initializer([30, 30]))
b0 = tf.Variable(initializer([30]))
w1 = tf.Variable(initializer([30, 10]))
b1 = tf.Variable(initializer([10]))
w2 = tf.Variable(initializer([10, 1]))
b2 = tf.Variable(initializer([1]))

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

In [11]:
# hypothesis0에서 30번의 선형회귀, hypothesis0의 결과를 통해서 총 10번의 선형회귀, hypothesis1의 결괄르 통해서 총 한번의 선형회귀 더
hypothesis0 = tf.sigmoid(tf.matmul(X_train, w0) + b0)
hypothesis1 = tf.sigmoid(tf.matmul(hypothesis0, w1) + b1)
hypothesis2 = tf.sigmoid(tf.matmul(hypothesis1, w2) + b2)

In [12]:
optimizer = tf.train.AdamOptimizer(0.01)

for step in range(1000):
  with tf.GradientTape() as tape:
    hypothesis0 = tf.sigmoid(tf.matmul(X_train, w0) + b0)
    hypothesis1 = tf.sigmoid(tf.matmul(hypothesis0, w1) + b1)
    hypothesis2 = tf.sigmoid(tf.matmul(hypothesis1, w2) + b2)
    cost = -tf.reduce_mean(y_train * tf.log(hypothesis2) + (1 - y_train) * tf.log(1 - hypothesis2))
    grads = tape.gradient(cost, [w0, w1, w2, b0, b1, b2])
    optimizer.apply_gradients(grads_and_vars=zip(grads, [w0, w1, w2, b0, b1, b2]))

    if step % 100 == 0:
      print('*'*100)
      print('step: {}\ncost :\n{}'.format(step, cost.numpy()))
      print('*'*100)

****************************************************************************************************
step: 0
cost :
0.6812898516654968
****************************************************************************************************
****************************************************************************************************
step: 100
cost :
0.03140179440379143
****************************************************************************************************
****************************************************************************************************
step: 200
cost :
0.019359968602657318
****************************************************************************************************
****************************************************************************************************
step: 300
cost :
0.016683904454112053
****************************************************************************************************
****************************************************************************************************
step: 400
cost :
0.015814494341611862
****************************************************************************************************
****************************************************************************************************
step: 500
cost :
0.015417743474245071
****************************************************************************************************
****************************************************************************************************
step: 600
cost :
0.015196613036096096
****************************************************************************************************
****************************************************************************************************
step: 700
cost :
0.015057194977998734
****************************************************************************************************
****************************************************************************************************
step: 800
cost :
0.014962071552872658
****************************************************************************************************
****************************************************************************************************
step: 900
cost :
0.014894821681082249
****************************************************************************************************

In [13]:
X_test = scaler.transform(X_test)
hypothesis0 = tf.sigmoid(tf.matmul(X_test, w0) + b0)
hypothesis1 = tf.sigmoid(tf.matmul(hypothesis0, w1) + b1)
predict = tf.sigmoid(tf.matmul(hypothesis1, w2) + b2)
predict = tf.cast(predict > 0.5, dtype = tf.float32)
accuracy = np.sum(tf.equal(predict, y_test)) / len(predict)
print('정확도 :', accuracy)

정확도 : 0.9385964912280702